@import '@/scss/base/vars.scss';
@import '@/scss/base/mixins.scss';

.about-us-section {
  background: rgba(1, 0, 31, 1);
  padding-top: 268px;
  padding-bottom: 205px;
  position: relative;
  display: flex;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    padding-top: 0;
    padding-bottom: 77px;
    flex-direction: column;
  }

  &__blur-1 {
    display: none;
    @include media-breakpoint-down(sm) {
      position: absolute;
      display: block;
      bottom: -150px;
      right: -310px;
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;

    @include media-breakpoint-down(sm) {
      position: relative;
      width: 100%;
      top: 0;
      height: 386px;
      object-position: 68.5% 10%;
    }
  }

  &__container {
    flex: 100%;
    display: flex;
    align-items: center;
  }

  &__text-block {
    position: relative;
    padding-top: 46px;
    padding-bottom: 10px;
    max-width: 703px;
    padding-left: 68px;
    background-image: url('@/assets/images/background-lines.png');

    @include media-breakpoint-down(sm) {
      margin-top: 58px;
      max-width: 90vw;
      padding-left: 31px;
      padding-top: 15px;
      padding-bottom: 3px;
    }

    &-swiper {
      width: 100%;
      margin-top: 30px;
      margin-left: -4px;
      max-width: 620px;
      padding-bottom: 50px;

      &-slide {
        @include media-breakpoint-down(sm) {
          margin-top: 22px;
          padding-left: 3px;
        }
      }
    }

    &::before {
      content: '';
      position: absolute;
      width: 5px;
      height: 100%;
      border-radius: 62px;
      background: #56ffeb;
      box-shadow: 0px 4px 13px 0px rgba(191, 58, 255, 0.44);

      left: 0;
      top: 0;
    }

    &-sub-title {
      color: $white;
      font-family: 'PlusJakartaSans';
      font-size: 20px;
      font-weight: 400;
      line-height: 1.4;
      text-transform: uppercase;

      @include media-breakpoint-down(sm) {
        font-size: 16px;
      }
    }

    &-title {
      margin-top: 13px;
      color: $white;
      font-family: 'HeliosExtC';
      font-size: 45px;
      font-weight: 700;
      line-height: 1.09;
      text-transform: uppercase;

      @include media-breakpoint-down(sm) {
        font-size: 28px;
        margin-top: 15px;
        margin-left: -3px;
      }
    }

    &-description {
      color: $white;
      font-family: 'PlusJakartaSans';
      font-size: 20px;
      font-weight: 400;
      line-height: 1.6;
      letter-spacing: -0.32px;

      @include media-breakpoint-down(sm) {
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: -0.3px;
        padding-left: 2px;
        margin-top: -2px;
      }
    }
  }
}

.swiper-pagination.swiper-pagination-progressbar.swiper-pagination-horizontal {
  position: relative;
  margin-top: 76px;
  margin-left: 22px;
  max-width: 400px;

  @include media-breakpoint-down(sm) {
    margin-top: 35px;
  }

  .swiper-pagination__title,
  .swiper-pagination__title-2 {
    position: absolute;
    color: #fff;
    font-family: 'HeliosExtC';
    font-size: 18px;
    font-weight: 700;
    line-height: 1.45;
    text-transform: uppercase;
  }

  .swiper-pagination__title {
    left: -21px;
    top: 24px;
  }

  .swiper-pagination__title-2 {
    top: 24px;
    right: 18px;
  }

  &::before {
    position: absolute;
    left: -6px;
    top: 50%;
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #7f5cff;
    transform: translate(-50%, -50%);
  }

  &::after {
    position: absolute;
    left: -6px;
    top: 50%;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid #7f5cff;
    transform: translate(-50%, -50%);
  }

  .swiper-pagination-progressbar-fill {
    background-color: #7f5cff;
  }
}
