@import '@/scss/mixins.scss';

.section-title-block {
  text-transform: uppercase;

  &__description {
    display: block;
    color: #fff;
    text-align: center;
    font-family: 'PlusJakartaSans';
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;

    @include for-mobile {
      font-size: 16px;
    }
  }

  &__title {
    margin: 0;
    margin-top: 14px;
    margin-left: 3px;
    display: block;
    color: #fff;
    text-align: center;
    font-family: HeliosExtC;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.09;

    @include for-mobile {
      font-size: 28px;
    }
  }
}
