$maxWidth: 1920;
$minWidth: 320;
$maxWidthContainer: 1556;
$containerWidth: 1526;

$mainOffset: 15;
$mainFont: 'Roboto';
$mainWeight: 400;

$white: #fff;
$black: black;

$fontFamily: $mainFont, sans-serif;
$fontColor: $white;
$fontSize: 18;
$fontWeight: $mainWeight;
