@import '@/scss/base/mixins.scss';

.explore-now-section {
  padding-top: 457px;
  padding-bottom: 248px;

  @include media-breakpoint-down(sm) {
    padding-bottom: 534px;
    padding-top: 62px;
  }

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__text-block {
    max-width: 80%;
    margin-right: auto;
    backdrop-filter: blur(15px);
    position: relative;
    padding-left: 91px;
    padding-top: 95px;
    padding-bottom: 113px;
    padding-right: 20%;
    height: fit-content;
    display: grid;
    grid-template:
      'title description'
      'description2 description'
      'button description';
    column-gap: 86px;
    background-image: linear-gradient(
        0deg,
        rgba(58, 78, 255, 0) 0%,
        rgba(156, 58, 255, 0.14) 100%
      ),
      url('@/assets/images/backgroundLinesRotate.png');

    @include media-breakpoint-up(sm) {
      background-image: linear-gradient(
          0deg,
          rgba(58, 78, 255, 0) 0%,
          rgba(156, 58, 255, 0.14) 100%
        ),
        url('@/assets/images/background-lines.png');
    }

    @include media-breakpoint-down(lg) {
      margin-left: 0;
      max-width: 90%;
      width: 100%;
      padding-left: 40px;
      grid-template:
        'title'
        'description2'
        'description'
        'button';
    }

    @include media-breakpoint-down(md) {
      max-width: 100%;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 53px;
      padding-left: 20px;
      padding-right: 5px;
    }

    &-title {
      grid-area: title;
      color: white;
      font-family: 'HeliosExtC';
      font-size: 45px;
      font-weight: 700;
      line-height: 1.09;
      text-transform: uppercase;

      @include media-breakpoint-down(sm) {
        font-size: 28px;
      }
    }

    &-description,
    &-description-2 {
      color: rgba(255, 255, 255, 0.9);
      font-family: 'PlusJakartaSans';
      font-size: 20px;
      font-weight: 400;
      line-height: 1.6;
      max-width: 397px;
      margin-top: 20px;
      letter-spacing: -0.3px;

      @include media-breakpoint-down(sm) {
        font-size: 16px;
      }
    }

    &-description-2 {
      grid-area: description2;
      margin-top: 31px;

      @include media-breakpoint-down(sm) {
        margin-top: 27px;
      }
    }

    &-description {
      margin-top: -9px;
      margin-left: 5px;
      grid-area: description;

      @include media-breakpoint-down(sm) {
        margin-top: 17px;
      }
    }

    &-button {
      grid-area: button;
      margin-top: 44px;
      max-width: 176px;
      font-size: 18px;

      @include media-breakpoint-down(sm) {
        padding-top: 19px;
        margin-top: 34px;
        letter-spacing: 0.6px;
      }
    }

    &::before {
      top: 0;
      left: 0;
      position: absolute;
      content: '';
      width: 6px;
      height: 100%;
      border-radius: 41px;
      background: #7f5cff;
      box-shadow: 0px 0px 17px 0px rgba(191, 58, 255, 0.4);

      @include media-breakpoint-down(sm) {
        width: 100%;
        height: 6px;
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;

    &-block {
      position: absolute;
      right: 18px;
      top: -223px;
      content: '';
      max-width: 570px;
      width: 100%;
      height: fit-content;

      @include media-breakpoint-down(lg) {
        right: 0;
        top: -150px;
        max-width: 45%;
      }

      @include media-breakpoint-down(md) {
        top: 50%;
        transform: translate(0, -70%);
        max-width: 40%;
      }

      @include media-breakpoint-down(sm) {
        right: 20px;
        max-width: 435px;
        width: 85%;
        top: 780px;
      }
    }
  }

  &__blur {
    position: absolute;
    top: -400px;
    left: -300px;
  }
}
