@import '@/scss/base/mixins.scss';

.marquee-line {
  position: absolute;

  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  background: #000;
  color: #fff;
  transform: rotate(-9.1deg);

  &-1 {
    top: -287px;
    left: -10vw;
    width: 150vw;
    background-image: url('@/assets/images/Marquee/background.svg');
    background-size: cover;

    @include media-breakpoint-down(lg) {
      top: -49px;
    }
  }

  &-2 {
    background-color: #000;
    top: 25px;
    left: -10vw;
    width: 150vw;
    padding-top: 5px;

    @include media-breakpoint-down(lg) {
      top: 32px;
      padding-top: 2px;
    }

    .marquee-line__inner {
      font-family: 'HeliosExtC';
      font-size: 72px;
      font-weight: 700;
      line-height: 1.4;
      letter-spacing: 0.72px;

      @include media-breakpoint-down(md) {
        font-size: 18px;
      }

      span {
        background: var(--2, linear-gradient(90deg, #21fcff 0%, #fd40ff 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  &-block {
    position: relative;
    width: 100vw;
    z-index: 2;

    &-2 {
      .marquee-line {
        top: -25px;
        transform: rotate(6.02deg);
        border: 1px solid rgba(255, 255, 255, 0.57);

        @include media-breakpoint-down(lg) {
          top: 10px;
          padding-top: 2px;
          span {
            font-size: 33px;
          }
        }
      }
    }
  }

  &__inner {
    display: inline-block;
    animation: marquee-animation 10s linear infinite;
    color: #fff;
    text-align: center;
    font-family: 'HeliosExtC';
    font-size: 200px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 2px;

    @include media-breakpoint-down(lg) {
      font-size: 52px;
    }

    span {
      width: 100%;
      padding-left: 100px;
    }
  }
}

@keyframes marquee-animation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-20%);
  }
}

@media screen and (max-width: 768px) {
  .marquee-line__inner {
    animation-duration: 5s;
  }
}
