@import '@/scss/mixins.scss';

.social-media-section {
  padding-bottom: 175px;
  padding-top: 150px;
  position: relative;

  &__container {
    position: relative;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 35px;
    padding-bottom: 116px;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 192px);
    z-index: -1;
    object-fit: cover;
  }

  &__swiper {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 79px;
    max-width: 1140px;

    @include media-breakpoint-down(sm) {
      width: 100vw;
      max-width: none;
      padding-left: 25px;
    }

    .swiper-wrapper {
      align-items: center;
    }

    &-slide {
      display: flex;
      height: 100%;
      width: fit-content;

      @include media-breakpoint-down(sm) {
        max-width: 235px;
      }
    }

    @include media-breakpoint-down(sm) {
      margin-top: 45px;
    }
  }

  &__link {
    display: flex;
    max-height: 391px;

    display: flex;
    align-items: center;
    justify-content: center;

    &-img {
      width: 100%;
      height: 100%;
      object-fit: contain;

      &_mobile {
        display: none;

        @include media-breakpoint-down(sm) {
          display: block;
        }
      }

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }

  &__blur {
    position: absolute;
    z-index: -1;

    &:nth-child(1) {
      top: -250px;
      left: -770px;
      object-fit: contain;
    }

    &:nth-child(2) {
      top: -200px;
      left: 50%;
      transform: translate(-50%);
    }

    &:nth-child(3) {
      top: -400px;
      right: -500px;
    }
  }
}
