@import '@/scss/mixins.scss';

.team-section {
  padding-top: 148px;
  padding-bottom: 148px;
  position: relative;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    padding-top: 82px;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    background-color: rgba(10, 1, 23, 1);
  }

  &__container {
    position: relative;
    padding-top: 143px;
    padding-bottom: 85px;

    @include media-breakpoint-down(sm) {
      padding-bottom: 50px;
    }
    @include media-breakpoint-down(sm) {
      padding-bottom: 100px;
    }
  }

  &__team {
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    justify-content: center;
    width: fit-content;
    grid-template-columns: repeat(4, auto);
    column-gap: 80px;
    row-gap: 20px;

    @include media-breakpoint-down(sm) {
      padding-top: 19px;
    }

    &-user {
      height: fit-content;
      &:first-child {
        @include media-breakpoint-up(sm) {
          padding-top: 56px;
        }
      }

      @include media-breakpoint-down(sm) {
        margin-left: auto;
        margin-right: auto;
      }

      &:nth-child(2) {
        .team-user__info-name {
          color: #2c4dff;
        }
        @include media-breakpoint-up(sm) {
          padding-top: 17px;
        }
      }

      &:nth-child(3) {
        .team-user__info-name {
          color: #bf3aff;
        }

        @include media-breakpoint-up(sm) {
          padding-top: 40px;
        }

        @include media-breakpoint-up(lg) {
          padding-top: 186px;
        }
      }

      &:last-child {
        .team-user__info-name {
          color: #fb41ff;

          @include media-breakpoint-up(sm) {
            margin-top: 9px;
          }
        }
        @include media-breakpoint-up(sm) {
          margin-top: 9px;
        }
      }

      &:nth-child(2n) {
        @include media-breakpoint-up(sm) {
          display: flex;
          flex-direction: column-reverse;
          align-self: bottom;
        }
      }

      &:nth-child(2n) {
        @include media-breakpoint-down(sm) {
          height: fit-content;
        }

        .team-user__info {
          @include media-breakpoint-up(sm) {
            padding-top: 61px;
          }
          @include media-breakpoint-down(sm) {
            padding-bottom: 61px;
          }
        }
      }

      &:nth-child(2n - 1) {
        .team-user__info {
          padding-bottom: 61px;
        }
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      &:focus-within {
        .socialLinks-block {
          display: flex;
          animation: fadeIn 0.5s ease-in-out forwards;
        }

        &:nth-child(2n - 1) {
          .team-user__info {
            padding-bottom: 0px;
          }
        }

        &:nth-child(2n) {
          .team-user__info {
            padding-top: 0px;

            @include media-breakpoint-down(sm) {
              padding-bottom: 0px;
            }
          }
        }
      }

      @include media-breakpoint-down(sm) {
        margin-top: 44px;
      }
    }

    @include media-breakpoint-down(lg) {
      grid-template-columns: repeat(2, auto);
    }

    @include media-breakpoint-down(sm) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__blur {
    position: absolute;
    z-index: -1;

    &:nth-child(1) {
      top: -150px;
      left: -1070px;
    }

    &:nth-child(2) {
      top: -200px;
      left: -400px;
    }

    &:nth-child(3) {
      top: -700px;
      right: -500px;
    }
  }
}
